<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>receber</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input label="Nome" placeholder="Digite o nome do fábricante" [(ngModel)]="nomeFabricante"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Vencimento" placeholder="Digite a data do vencimento" [(ngModel)]="dataVencimento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="pagamento" label="Pagamento">
          <ion-select-option value="CARTAO">CARTÃO</ion-select-option>
          <ion-select-option value="DINHEIRO">DINHEIRO</ion-select-option>
          <ion-select-option value="BOLETO">BOLETO</ion-select-option>
          <ion-select-option value="PIX">PIX</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input label="Valor" placeholder="Digite o valor" [(ngModel)]="valor"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
